@import 'normalize-scss';
@include normalize();
@import "_typography.scss";


html {
    box-sizing: border-box;
}

body {
    font-family: 'SpecialElite';
    .sy-main-wrap {
        overflow-x: hidden;
        position: relative;
        width: 100%;
    }
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}